# Filter Operation

* Filter Operations (IMP for data preprocessing technique)
* & , | , ==
* ~

In [2]:
import os
os.environ["JAVA_HOME"] = "C:\\Program Files\\Java\\jdk-21"

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Filter Operations').getOrCreate() # type: ignore

In [5]:
spark

In [9]:
#inferSchema --> Gives True DataType of a column 
df_pyspark = spark.read.csv('Test4.csv',header=True,inferSchema=True)

In [12]:
# Used for checking datatype
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [13]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Nehal| 21|         3| 60000|
|  Chirag| 20|         2| 53000|
|Devanshu| 19|         1| 25000|
|   Aryan| 25|         5| 45000|
|   Daksh| 24|         4| 35000|
|   Dhyey| 30|         9| 42000|
+--------+---+----------+------+

In [14]:
### Salary of the people less rthan 40000
df_pyspark.filter("Salary <= 40000").show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Devanshu| 19|         1| 25000|
|   Daksh| 24|         4| 35000|
+--------+---+----------+------+

In [15]:
df_pyspark.filter("Salary <= 40000").select(['Name','age']).show()

+--------+---+
|    Name|age|
+--------+---+
|Devanshu| 19|
|   Daksh| 24|
+--------+---+

In [17]:
df_pyspark.filter(df_pyspark['Salary']<=40000).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Devanshu| 19|         1| 25000|
|   Daksh| 24|         4| 35000|
+--------+---+----------+------+

In [21]:
# NOT condition (~) or Inverse Operation
df_pyspark.filter(~(df_pyspark['Salary']<=40000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| Nehal| 21|         3| 60000|
|Chirag| 20|         2| 53000|
| Aryan| 25|         5| 45000|
| Dhyey| 30|         9| 42000|
+------+---+----------+------+

In [19]:
df_pyspark.filter((df_pyspark['Salary']<=40000) & (df_pyspark['Salary'] >= 15000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Devanshu| 19|         1| 25000|
|   Daksh| 24|         4| 35000|
+--------+---+----------+------+

In [20]:
df_pyspark.filter((df_pyspark['Salary']<=40000) | (df_pyspark['Salary'] >= 15000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Nehal| 21|         3| 60000|
|  Chirag| 20|         2| 53000|
|Devanshu| 19|         1| 25000|
|   Aryan| 25|         5| 45000|
|   Daksh| 24|         4| 35000|
|   Dhyey| 30|         9| 42000|
+--------+---+----------+------+