# PySpark Handling Missing Values

  * Dropping Columns
  * Dropping Rows
  * Various Parameter In Dropping functionalities
  * Handling Missing values by Mean, Median and Mode

In [1]:
import os
os.environ["JAVA_HOME"] = "C:\\Program Files\\Java\\jdk-21"

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Handling Missing Values').getOrCreate() # type: ignore

In [4]:
spark

In [27]:
#inferSchema --> Gives True DataType of a column 
df_pyspark = spark.read.csv('Test3.csv',header=True,inferSchema=True)

In [28]:
# Used for checking datatype
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [29]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Nehal|  21|         3| 60000|
|  Chirag|  20|         2| 53000|
|Devanshu|  19|         1| 25000|
|   Aryan|  25|         5| 45000|
|   Daksh|  24|         4| 35000|
|   Dhyey|  30|         9| 42000|
|  Mahesh|NULL|      NULL| 38000|
|    NULL|  34|        10| 23000|
|    NULL|  36|      NULL|  NULL|
|    NULL|NULL|      NULL|  NULL|
+--------+----+----------+------+

# 1. Removing the NULL Values

#### **drop(how = 'any',thresh = None, subset = None)** 

  * This function returns a new DataFrame omitting rows with null values

Parameters
----------
1. how : str, optional

            'any' or 'all'

            If 'any' , drop a row if it contains any nulls.
            If 'all' , drop a row only if all its values are null.

2. thresh : int, optional

             default None

             If Specified, drop rows that have less than 'thresh' non-null values.
             This Overwrites the 'how' paramenter.

3. subset : str, tuple or list, optional

             optional list of column names to consider.

In [30]:
## Drop or removes all the rows containing NULL values
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Nehal| 21|         3| 60000|
|  Chirag| 20|         2| 53000|
|Devanshu| 19|         1| 25000|
|   Aryan| 25|         5| 45000|
|   Daksh| 24|         4| 35000|
|   Dhyey| 30|         9| 42000|
+--------+---+----------+------+

In [31]:
### how == any

df_pyspark.na.drop(how='any').show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Nehal| 21|         3| 60000|
|  Chirag| 20|         2| 53000|
|Devanshu| 19|         1| 25000|
|   Aryan| 25|         5| 45000|
|   Daksh| 24|         4| 35000|
|   Dhyey| 30|         9| 42000|
+--------+---+----------+------+

In [32]:
### how == all
#Drops only row which have the values are null.
df_pyspark.na.drop(how='all').show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Nehal|  21|         3| 60000|
|  Chirag|  20|         2| 53000|
|Devanshu|  19|         1| 25000|
|   Aryan|  25|         5| 45000|
|   Daksh|  24|         4| 35000|
|   Dhyey|  30|         9| 42000|
|  Mahesh|NULL|      NULL| 38000|
|    NULL|  34|        10| 23000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [36]:
### Threshold --> Non-NULL values
#If the row contain the more than or equal to Threshold of no. of non-null values  then it will not remove.
#If it less than the  Threshold of no. of non-null values then it will remove the row

df_pyspark.na.drop(how='any', thresh=3).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Nehal| 21|         3| 60000|
|  Chirag| 20|         2| 53000|
|Devanshu| 19|         1| 25000|
|   Aryan| 25|         5| 45000|
|   Daksh| 24|         4| 35000|
|   Dhyey| 30|         9| 42000|
|    NULL| 34|        10| 23000|
+--------+---+----------+------+

In [38]:
##Subset
# Drop NULL values from a specific column

df_pyspark.na.drop(how='any', subset=['Experience']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Nehal| 21|         3| 60000|
|  Chirag| 20|         2| 53000|
|Devanshu| 19|         1| 25000|
|   Aryan| 25|         5| 45000|
|   Daksh| 24|         4| 35000|
|   Dhyey| 30|         9| 42000|
|    NULL| 34|        10| 23000|
+--------+---+----------+------+

# 2. Filling the Missing Values

#### **fill(value, subset = None)**

  * This function Replace null values

In [48]:
# fill the missing values according to the data type of coulmn and the given value.

# 'Missing Values' --> String
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|         Nehal|  21|         3| 60000|
|        Chirag|  20|         2| 53000|
|      Devanshu|  19|         1| 25000|
|         Aryan|  25|         5| 45000|
|         Daksh|  24|         4| 35000|
|         Dhyey|  30|         9| 42000|
|        Mahesh|NULL|      NULL| 38000|
|Missing Values|  34|        10| 23000|
|Missing Values|  36|      NULL|  NULL|
|Missing Values|NULL|      NULL|  NULL|
+--------------+----+----------+------+

In [47]:
# 0 --> Integer
df_pyspark.na.fill(0).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Nehal| 21|         3| 60000|
|  Chirag| 20|         2| 53000|
|Devanshu| 19|         1| 25000|
|   Aryan| 25|         5| 45000|
|   Daksh| 24|         4| 35000|
|   Dhyey| 30|         9| 42000|
|  Mahesh|  0|         0| 38000|
|    NULL| 34|        10| 23000|
|    NULL| 36|         0|     0|
|    NULL|  0|         0|     0|
+--------+---+----------+------+

In [49]:
df_pyspark.na.fill('Missing Values',['Name']).show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|         Nehal|  21|         3| 60000|
|        Chirag|  20|         2| 53000|
|      Devanshu|  19|         1| 25000|
|         Aryan|  25|         5| 45000|
|         Daksh|  24|         4| 35000|
|         Dhyey|  30|         9| 42000|
|        Mahesh|NULL|      NULL| 38000|
|Missing Values|  34|        10| 23000|
|Missing Values|  36|      NULL|  NULL|
|Missing Values|NULL|      NULL|  NULL|
+--------------+----+----------+------+

In [51]:
df_pyspark.na.fill(0,['age','Experience']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Nehal| 21|         3| 60000|
|  Chirag| 20|         2| 53000|
|Devanshu| 19|         1| 25000|
|   Aryan| 25|         5| 45000|
|   Daksh| 24|         4| 35000|
|   Dhyey| 30|         9| 42000|
|  Mahesh|  0|         0| 38000|
|    NULL| 34|        10| 23000|
|    NULL| 36|         0|  NULL|
|    NULL|  0|         0|  NULL|
+--------+---+----------+------+

# 3. Replacing Missing values by Mean, Median and Mode

In [56]:
from pyspark.ml.feature import Imputer

In [58]:
imputer_mean = Imputer(
    inputCols=['age','Experience','Salary'], # type: ignore
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']] # type: ignore
).setStrategy("mean")

In [59]:
# Add imputation cols to df
imputer_mean.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   Nehal|  21|         3| 60000|         21|                 3|         60000|
|  Chirag|  20|         2| 53000|         20|                 2|         53000|
|Devanshu|  19|         1| 25000|         19|                 1|         25000|
|   Aryan|  25|         5| 45000|         25|                 5|         45000|
|   Daksh|  24|         4| 35000|         24|                 4|         35000|
|   Dhyey|  30|         9| 42000|         30|                 9|         42000|
|  Mahesh|NULL|      NULL| 38000|         26|                 4|         38000|
|    NULL|  34|        10| 23000|         34|                10|         23000|
|    NULL|  36|      NULL|  NULL|         36|                 4|         40125|
|    NULL|NULL|      NULL|  NULL|         26|                 4|         40125|
+--------+----+----------+------+-----------+------------------+--------------+

In [60]:
imputer_median = Imputer(
    inputCols=['age','Experience','Salary'], # type: ignore
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']] # type: ignore
).setStrategy("median")

In [61]:
imputer_median.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   Nehal|  21|         3| 60000|         21|                 3|         60000|
|  Chirag|  20|         2| 53000|         20|                 2|         53000|
|Devanshu|  19|         1| 25000|         19|                 1|         25000|
|   Aryan|  25|         5| 45000|         25|                 5|         45000|
|   Daksh|  24|         4| 35000|         24|                 4|         35000|
|   Dhyey|  30|         9| 42000|         30|                 9|         42000|
|  Mahesh|NULL|      NULL| 38000|         24|                 4|         38000|
|    NULL|  34|        10| 23000|         34|                10|         23000|
|    NULL|  36|      NULL|  NULL|         36|                 4|         38000|
|    NULL|NULL|      NULL|  NULL|         24|                 4|         38000|
+--------+----+----------+------+-----------+------------------+--------------+

In [62]:
imputer_mode = Imputer(
    inputCols=['age','Experience','Salary'], # type: ignore
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']] # type: ignore
).setStrategy("mode")

In [63]:
imputer_mode.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   Nehal|  21|         3| 60000|         21|                 3|         60000|
|  Chirag|  20|         2| 53000|         20|                 2|         53000|
|Devanshu|  19|         1| 25000|         19|                 1|         25000|
|   Aryan|  25|         5| 45000|         25|                 5|         45000|
|   Daksh|  24|         4| 35000|         24|                 4|         35000|
|   Dhyey|  30|         9| 42000|         30|                 9|         42000|
|  Mahesh|NULL|      NULL| 38000|         19|                 1|         38000|
|    NULL|  34|        10| 23000|         34|                10|         23000|
|    NULL|  36|      NULL|  NULL|         36|                 1|         23000|
|    NULL|NULL|      NULL|  NULL|         19|                 1|         23000|
+--------+----+----------+------+-----------+------------------+--------------+